<div #inscription  >
  <div class="modal-header">
      <h4 class="modal-title">Connexion à l'Application</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <!-- <h1 class="header"> Connexion À l'Application </h1> -->
      <!-- <h3 class="text-center"> Connexion À l'Application </h3> -->
      <div class="container">
        <!-- <div class="row">
          <div class="col-md-6 offset-md-3 mx-auto  ">
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label class="control-label text-primary font-weight-bold" for="email" autofocus> <i class="fas fa-at"></i> EMAIL   </label>
                <input type="email" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label text-primary font-weight-bold"> <i class="fas fa-key"></i> MOT DE PASSE</label>
                <input type="password" class="form-control" formControlName="password">
                <label class="error">{{errorMessage}}</label>
              </div>
              <button class="btn btn-outline-primary mb-2 mr-2 btn-block" type="submit" (click)="tryLogin(loginForm.value)" style="margin-bottom : 30px;">Connexion</button>
            </form>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-4 offset-md-4 btg">
            <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()"><i class="fab fa-facebook-f mr-2"></i> Login with Facebook</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4 btg">
            <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()"><i class="fab fa-google mr-2"></i>Login with Google</button>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-4 offset-md-4">
            <p class="lead">
              No account yet?
               <a href="/register">Créer un Compte</a>
             </p>
          </div>
        </div> -->
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
    </div>
</div>
