<div class="container">
  <div class="float-right text-primary ">
    <p>
      <span class="font-weight-bold">SCORE : </span> <span class="text-danger"> {{total}}</span>
    </p>
  </div>

  <button type="button" name="button" class="btn btn-primary" (click)="showRandom()">RANDOM COUNTRY</button>


  <div class="card" *ngIf="randomCountry">
    <div class="card-header">
      COUNTRY
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{randomCountry.name}} <img  src="{{randomCountry.flag}}" alt="drapeau du pays" height="64" width="64"></h5>
      <p class="card-text">
        Capitale :  ?????
        <!-- {{randomCountry.capital}}  -->
        <br/>
        Devise : {{randomCountry.currencies[0].name}}
      </p>
      <a class="btn btn-primary" (click)="showRandom()">Go somewhere Else</a>
    </div>
  </div>
  <h3 class="text-center text-success"> REPONSE </h3>

  <div class="row" style="margin-bottom : 50px;">
    <div class="col text-center" *ngFor="let ans of answers">
      <button type="button" name="button" class="btn btn-primary" (click)="repondre(ans)" *ngIf="ans != ''">{{ans}}</button>
      <button type="button" name="button" class="btn btn-primary" (click)="repondre(ans)" *ngIf="ans == ''">NEAN</button>
    </div>

  </div>
</div>
