<div class="container">
	<h2 class="text-success">Laissez nous un message :)</h2><br/>
	<div class="row">
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="seeFormMessage()"> AJOUTER UN MESSAGE </button> <br/>
		<h5 class="text-danger" *ngIf="this.errorMessage">{{this.errorMessage}}</h5>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form *ngIf="setMessage">
			  <div class="form-group">
			    <label for="exampleFormControlInput1">Utilisateur</label>
			    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{user.name}}" readonly>
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlTextarea1">Votre Message</label>
			    <textarea class="form-control" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" rows="3"></textarea>
			  </div>
				<button type="button" class="btn btn-primary mb-2" (click)="sendMessage()">Envoyer</button>

			</form>

    <table class="table table-striped">
        <thead>
          <tr>
              <th>Messages et Remarques</th>
              <th>Dates Messages</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let msg of messages | async">
            <td>
							{{msg.message}} <br/>
							{{msg.user.name}} <br/>
							<i class="fa fa-map-marker"></i> {{msg.country}} {{msg.city}}
						 </td>
            <td>{{msg.time}}</td>
          </tr>
        </tbody>
      </table>
     </div>

    </div>

   </div>




   <!-- MESSAGE modal  -->
   <ng-template #content let-modal >
     <div class="modal-header">
       <h4 class="modal-title text-center text-danger" *ngIf="selectedCountrie" >{{selectedCountrie.name}}</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body" *ngIf="selectedCountrie">
       <!-- <h1 class="text-center text-danger">{{selectedCountrie.name}}</h1> -->
       <div class="row">
         <div class="col">
           <i class="fas fa-map-marker fa-2x"></i>
           <span> REGION : </span> {{selectedCountrie.region}}
         </div>
         <div class="col">
           <i class="fas fa-phone-square fa-2x"></i>
           <span> INDICATIF TELEPHONIQUE : </span> <span *ngFor="let code of selectedCountrie.callingCodes"> + {{code}}</span>
         </div>
       </div>
       <br/>
       <div class="row">
         <div class="col">
           <i class="fas fa-2x fa-users"></i>
             <span> POPULATION : </span>{{selectedCountrie.population }}
         </div>
         <div class="col">
           <i class="fas fa-money-bill-alt fa-2x"></i>
           <span>DEVISES : </span>
           <span *ngFor="let money of selectedCountrie.currencies"> {{money.name}}  {{money.symbol}} </span>
         </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
     </div>
   </ng-template>
