<div class="container">
	<div class="row">
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content,'test')"> AJOUTER UN MESSAGE </button>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <table class="table table-striped">
        <thead>
          <tr>
              <th>Messages et Remarques</th>
              <th>Dates Messages</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let msg of messages | async">
            <td> {{msg.message}} </td>
            <td>July 7 - 9, 2015</td>
          </tr>
           <tr>
            <td>Washington DC<br/><a href="https://aws.passkey.com/g/42238120" target="_blank">Gaylord National Hotel Convention Center</a><br/><i class="fa fa-map-marker"></i> 201 Waterfront Street<br/>National Harbor, MD 20745</td>
            <td>July 7 - 9, 2015</td>
          </tr>
          <tr class="active">
            <td><strong>NSTP Annual Federal Tax Refresher Course</strong><br/><a href="https://aws.passkey.com/g/42238120" target="_blank">Gaylord National Hotel Convention Center</a><br/><i class="fa fa-map-marker"></i> 201 Waterfront Street<br/>National Harbor, MD 20745</td>
            <td><strong>AFTR Date & Registration</strong><br/>July 10, 2015<br/><br/><a class="btn btn-hot btn-block " href="/course/2015-Annual-Federal-Tax-Refresher-Course---National-Harbor%2C-MD" target="_blank"><i class="fa fa-hand-o-right"></i> Register Here</a></td>
          </tr>
          <!--Denbver-->
          <tr>
            <td>Denver , CO <br/><a href="https://aws.passkey.com/g/34249128"target="_blank">Hyatt Regency Denver at Colorado Convention Center</a><br/><i class="fa fa-map-marker"></i> 650 15th Street<br/>Denver, CO 80202</td>
            <td>July 28 - 30, 2015</td>
          </tr>
         <tr class="active">
            <td><strong>NSTP Annual Federal Tax Refresher Course</strong> <br/><a href="http://embassysuites3.hilton.com/en/hotels/colorado/embassy-suites-denver-downtown-convention-center-DENESES/index.html"target="_blank">Embassy Suites Denver</a><br/><i class="fa fa-map-marker"></i> 1420 Stout St<br/>Denver, CO 80202</td>
            <td><strong>AFTR Date & Registration</strong><br/>July 31, 2015<br/><br/><a class="btn btn-hot btn-block " href="/course/2015-Annual-Federal-Tax-Refresher-Course---Denver%2C-CO" target="_blank"><i class="fa fa-hand-o-right"></i> Register Here</a></td>
          </tr>
          <!--Denver-->
          <tr>
            <td>San Diego, CA <br/><a href="https://aws.passkey.com/g/42502120"target="_blank">San Diego Town & Country</a><br/><i class="fa fa-map-marker"></i> 500 Hotel Circle North <br/>San Diego, CA , 92108</td>
            <td>August 11 - 13, 2015</td>
          </tr>
          <tr class="active">
            <td><strong>NSTP Annual Federal Tax Refresher Course</strong> <br/><a href="https://aws.passkey.com/g/42502120"target="_blank">San Diego Town & Country</a><br/><i class="fa fa-map-marker"></i> 500 Hotel Circle North <br/>San Diego, CA , 92108</td>
            <td><strong>AFTR Date & Registration</strong><br/>August 14, 2015<br/><br/><a class="btn btn-hot btn-block " href="/course/2015-Annual-Federal-Tax-Refresher-Course---San-Diego%2C-CA" target="_blank"><i class="fa fa-hand-o-right"></i> Register Here</a></td>
          </tr>
          <!--washington-->
          <tr>
            <td>Atlanta, GA <br/><a href="https://aws.passkey.com/event/13001814/owner/321/home"target="_blank">Atlanta Marriott Marquis</a><br/><i class="fa fa-map-marker"></i> 265 Peachtree Center Avenue <br/>Atlanta, GA , 30303</td>
            <td>August 25 - 27, 2015</td>
          </tr>
          <tr class="active">
            <td><strong>NSTP Annual Federal Tax Refresher Course</strong><br/><a href="https://aws.passkey.com/event/13001814/owner/321/home"target="_blank">Atlanta Marriott Marquis</a><br/><i class="fa fa-map-marker"></i> 265 Peachtree Center Avenue  <br/>Atlanta, GA , 30303</td>
            <td><strong>AFTR Date & Registration</strong><br/>August 28, 2015<br/><br/><a class="btn btn-hot btn-block " href="/course/2015-Annual-Federal-Tax-Refresher-Course---Atlanta%2C-GA" target="_blank"><i class="fa fa-hand-o-right"></i> Register Here</a></td>
          </tr>
          <!--washington-->
          <tr>
            <td>Orlando, FL<br/><a href="https://aws.passkey.com/g/30187120"target="_blank">Hyatt Regency Orlando</a><br/><i class="fa fa-map-marker"></i> 9801 International Drive <br/>Orlando, FL , 32819</td>
            <td>September 1 - 3, 2015</td>
          </tr>
          <tr class="active">
            <td><strong>NSTP Annual Federal Tax Refresher Course</strong><br/><a href="https://aws.passkey.com/g/30187120"target="_blank">Hyatt Regency Orlando</a><br/><i class="fa fa-map-marker"></i> 9801 International Drive <br/>Orlando, FL , 32819</td>
            <td><strong>AFTR Date & Registration</strong><br/>September 4, 2015<br/><br/><a class="btn btn-hot btn-block " href="/course/2015-Annual-Federal-Tax-Refresher-Course---Orlando%2C-FL" target="_blank"><i class="fa fa-hand-o-right"></i> Register Here</a></td>
          </tr>
          <!--washington-->
        </tbody>
      </table>
     </div>

    </div>

   </div>




   <!-- MESSAGE modal  -->
   <ng-template #content let-modal >
     <div class="modal-header">
       <h4 class="modal-title text-center text-danger" *ngIf="selectedCountrie" >{{selectedCountrie.name}}</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body" *ngIf="selectedCountrie">
       <!-- <h1 class="text-center text-danger">{{selectedCountrie.name}}</h1> -->
       <div class="row">
         <div class="col">
           <i class="fas fa-map-marker fa-2x"></i>
           <span> REGION : </span> {{selectedCountrie.region}}
         </div>
         <div class="col">
           <i class="fas fa-phone-square fa-2x"></i>
           <span> INDICATIF TELEPHONIQUE : </span> <span *ngFor="let code of selectedCountrie.callingCodes"> + {{code}}</span>
         </div>
       </div>
       <br/>
       <div class="row">
         <div class="col">
           <i class="fas fa-2x fa-users"></i>
             <span> POPULATION : </span>{{selectedCountrie.population }}
         </div>
         <div class="col">
           <i class="fas fa-money-bill-alt fa-2x"></i>
           <span>DEVISES : </span>
           <span *ngFor="let money of selectedCountrie.currencies"> {{money.name}}  {{money.symbol}} </span>
         </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
     </div>
   </ng-template>
