<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1> Search For A Country Information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
        </div>
    </div>
</div>

<div class="container">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Drapeau</th>
        <th>Pays</th>
        <th>Capitale</th>
        <th>Langue</th>
        <th>Population</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let countrie of countries">
        <!-- <td>     <img  src="https://www.countryflags.io/{{countrie.alpha2Code}}/flat/64.png" alt="drapeau du pays"> </td> -->
        <td>     <img  src="{{countrie.flag}}" alt="drapeau du pays" height="64" width="64"> </td>
        <td>{{countrie.name}}</td>
        <td>{{countrie.capital}}</td>
        <td>{{countrie.languages[0].name}}</td>
        <td>{{countrie.population}} </td>
        <td> <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content,countrie.name)">Voir Plus</button> </td>
      </tr>
    </tbody>
  </table>

</div>


<!-- country modal  -->
<ng-template #content let-modal >
  <div class="modal-header">
    <h4 class="modal-title text-center text-danger" *ngIf="selectedCountrie" >{{selectedCountrie.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="selectedCountrie">
    <!-- <h1 class="text-center text-danger">{{selectedCountrie.name}}</h1> -->
    <div class="row">
      <div class="col">
        <i class="fas fa-map-marker fa-2x"></i>
        <span> REGION : </span> {{selectedCountrie.region}}
      </div>
      <div class="col">
        <i class="fas fa-phone-square fa-2x"></i>
        <span> INDICATIF TELEPHONIQUE : </span> <span *ngFor="let code of selectedCountrie.callingCodes"> + {{code}}</span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <i class="fas fa-2x fa-users"></i>
          <span> POPULATION : </span>{{selectedCountrie.population }}
      </div>
      <div class="col">
        <i class="fas fa-money-bill-alt fa-2x"></i>
        <span>DEVISES : </span>
        <span *ngFor="let money of selectedCountrie.currencies"> {{money.name}}  {{money.symbol}} </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
